{% comment %} {{ content_for_index }} {% endcomment %}

<!--BEGIN intro-->
<section class="intro bg-lightPink pb-20 overflow-hidden">
    <div class="md:block xl:bottom-0 hidden intro__decor absolute bg-contain bg-no-repeat left-0" style="background-image: url({{'decor.svg' | asset_url}})"></div>
        <div class="container relative z-1">
            <div class="flex flex-wrap items-center">
            <div class="md:w-4/12 w-full px-3 md:px-0">
                <div class="heading pt-20 pb-4">
                <h1 class="text-10xl font-mono font-bold leading-128px">Artistro markers</h1>
                </div>
                <div class="descr pt-4 pb-12">
                <p class="text-2xl font-semibold">Get rich and opaque color with the first layer on any surface!</p>
                </div><a class="btn" href="#">Shop now</a>
            </div>
            <div class="md:w-8/12 w-full">
                <div class="lg:flex lg:items-center intro__img relative"><img class="absolute object-contain" src="{{'billboard.png' | asset_img_url: 'master'}}" alt=""></div>
            </div>
            </div>
    </div>
</section>
<!--END intro-->
<div class="bg-white">
<!--BEGIN advantages-->
    <section class="advantages relative z-2">
    <div class="container">
        <div class="wrap bg-white -mt-4 relative top-minus pt-5 px-10">
        <ul class="flex-wrap advantages_list flex items-center justify-center py-3">
            <li class="w-1/2 xs:w-1/3 lg:w-1/5 text-center border-r border-solid border-lightGray mb-3"><span class="data text-black text-35px font-bold">500K+</span>
            <p class="text-xl font-normal"> customers orldwide</p>
            </li>
            <li class="w-1/2 xs:w-1/3 lg:w-1/5 xs:border-r xs:border-solid xs:border-lightGray text-center mb-3"><span class="data text-black text-35px font-bold">10K+</span>
            <p class="text-xl font-normal"> reviews</p>
            </li>
            <li class="w-1/2 xs:w-1/3 lg:w-1/5 w-1/2 xs:border-none text-center border-r border-solid border-lightGray mb-3"><span class="data flex items-center justify-center text-black text-35px font-bold"><svg class="icon icon-fb-f fill-current text-blueIcon mr-4">
                <use xlink:href="img/sprite.svg#icon-fb-f"></use>
                </svg>90 K+</span>
            <p class="text-xl font-normal"> followers</p>
            </li>
            <li class="w-1/2 xs:w-1/3 lg:w-1/5 xs:border-r xs:border-solid xs:border-lightGray text-center mb-3"><span class="data flex items-center justify-center text-black text-35px font-bold"><svg class="icon icon-inst-f fill-current text-pinkIcon mr-4">
                <use xlink:href="img/sprite.svg#icon-inst-f"></use>
                </svg>265 K+</span>
            <p class="text-xl font-normal"> followers</p>
            </li>
            <li class="w-1/2 xs:w-1/3 lg:w-1/5 text-center"><span class="data flex items-center justify-center text-black text-35px font-bold mb-3"><svg class="icon icon-pint-f fill-current text-yellowIcon mr-4">
                <use xlink:href="img/sprite.svg#icon-pint-f"></use>
                </svg>10 M+</span>
            <p class="text-xl font-normal"> monthly viewers</p>
            </li>
        </ul>
        </div>
    </div>
    </section>
    <!--END advantages-->
    <section class="md:pb-32 mt:pt-20 xl:py-20 offer py-20 relative">
    <div class="md:block hidden offer__decor absolute bg-contain bg-no-repeat z-0" style="background-image: url({{'decor-offer.svg' | asset_url}})"></div>
    <div class="container">
        <div class="flex flex-wrap justify-between">
        <div class="w-full md:w-1/3 px-3"><a class="
    relative
    item
    rounded-large
    flex justify-start items-center
    w-full
    bg-violet
    text-white   text-3xl
    mx-auto
    my-3
    md:my-0
    " href="#">
            <div class="w-1/2 text-left text-3xl font-bold leading-tight px-10">
                <h2>Best Sellers</h2>
            </div><img class="absolute bg-no-repeat" src="{{'offer-01.png' | asset_img_url: 'master'}}" alt="">
            </a></div>
        <div class="w-full md:w-1/3 px-3"><a class="
    relative
    item
    rounded-large
    flex justify-start items-center
    w-full
    bg-yellow
    text-white   text-3xl
    mx-auto
    my-3
    md:my-0
    " href="#">
            <div class="w-1/2 text-left text-3xl font-bold leading-tight px-10">
                <h2>Sale Now</h2>
            </div><img class="absolute bg-no-repeat" src="{{'offer-02.png' | asset_img_url: 'master'}}" alt="">
            </a></div>
        <div class="w-full md:w-1/3 px-3"><a class="
    relative
    item
    rounded-large
    flex justify-start items-center
    w-full
    bg-blue
    text-white   text-3xl
    mx-auto
    my-3
    md:my-0
    " href="#">
            <div class="w-1/2 text-left text-3xl font-bold leading-tight px-10">
                <h2>Reward Program</h2>
            </div><img class="absolute bg-no-repeat" src="{{'offer-03.png' | asset_img_url: 'master'}}" alt="">
            </a></div>
        </div>
    </div>
    </section>
</div>
<section class="choose bg-blueChoose pt-2">
    <div class="container">
    <div class="sm:px-0 px-5 flex flex-wrap">
        <div class="sm:w-4/12 w-full">
        <div class="py-20">
            <h2 class="font-mono font-bold text-90px uppercase leading-none">Choose your <br /> color and tip</h2>
        </div>
        </div>
        <div class="sm:w-4/12 w-full flex items-center">
        <div class="choose__img relative"><img src="{{'choose-1.png' | asset_img_url: 'master'}}" alt=""></div>
        </div>
        <div class="sm:w-4/12 w-full flex flex-col items-center sm:items-end">
        <div class="subtitle py-8 pr-16">
            <h3 class="text-15px font-bold">Choose your Tip</h3>
        </div>
        <ul class="tipList">
            <li class="relative flex items-center py-4"><img src="{{'extra.png' | asset_img_url: 'master'}}" alt="">
            <div class="chooseType pl-5"><a class="font-bold text-base text-lg" href="#">Extra Fine Tip</a>
                <p class="font-normal text-lg">0.7-1 mm</p>
            </div>
            </li>
            <li class="relative flex items-center py-4"><img src="{{'fine.png' | asset_img_url: 'master'}}" alt="">
            <div class="chooseType pl-5"><a class="font-bold text-base text-lg" href="#">Fine Tip</a>
                <p class="font-normal text-lg">0.7-1 mm</p>
            </div>
            </li>
            <li class="relative flex items-center py-4"><img src="{{'medium.png' | asset_img_url: 'master'}}" alt="">
            <div class="chooseType pl-5"><a class="font-bold text-base text-lg" href="#">Medium Tip</a>
                <p class="font-normal text-lg">0.7-1 mm</p>
            </div>
            </li>
            <li class="relative flex items-center py-4"><img src="{{'eraser.png' | asset_img_url: 'master'}}" alt="">
            <div class="chooseType pl-5"><a class="font-bold text-base text-lg" href="#">Eraser</a>
                <p class="font-normal text-lg"></p>
            </div>
            </li>
        </ul>
        </div>
    </div>
    <div class="choosePen">
        <div class="container">
        <ul class="choose__pen flex justify-center relative">
            <li><a class="overflow-hidden block relative duration-500" href="#"><img src="{{'choosePen-01.png' | asset_img_url: 'master'}}" alt=""></a></li>
            <li><a class="overflow-hidden block relative duration-500" href="#"><img src="{{'choosePen-01.png' | asset_img_url: 'master'}}" alt=""></a></li>
            <li><a class="overflow-hidden block relative duration-500" href="#"><img src="{{'choosePen-01.png' | asset_img_url: 'master'}}" alt=""></a></li>
            <li><a class="overflow-hidden block relative duration-500" href="#"><img src="{{'choosePen-01.png' | asset_img_url: 'master'}}" alt=""></a></li>
            <li><a class="active overflow-hidden block relative duration-500" href="#"><img src="{{'choosePen-01.png' | asset_img_url: 'master'}}" alt=""></a></li>
            <li><a class="overflow-hidden block relative duration-500" href="#"><img src="{{'choosePen-01.png' | asset_img_url: 'master'}}" alt=""></a></li>
            <li><a class="overflow-hidden block relative duration-500" href="#"><img src="{{'choosePen-01.png' | asset_img_url: 'master'}}" alt=""></a></li>
            <li><a class="overflow-hidden block relative duration-500" href="#"><img src="{{'choosePen-01.png' | asset_img_url: 'master'}}" alt=""></a></li>
            <li><a class="overflow-hidden block relative duration-500" href="#"><img src="{{'choosePen-01.png' | asset_img_url: 'master'}}" alt=""></a></li>
            <li><a class="overflow-hidden block relative duration-500" href="#"><img src="{{'choosePen-01.png' | asset_img_url: 'master'}}" alt=""></a></li>
        </ul>
        </div>
    </div>
    </div>
</section>
<section class="masonry relative pb-20">
    <div class="md:block hidden masonry__decor absolute bg-contain bg-no-repeat left-0 z-0" style="background-image: url({{'decor-masonry.svg' | asset_url}})"></div>
    <div class="container relative z-1">
    <div class="text-center py-16">
        <h2 class="md:text-7xl text-5xl font-mono font-bold leading-none">You get rich and opaque color with <br /> the first layer on any surface!</h2>
    </div>
    <div class="sm:flex-no-wrap sm:justify-between flex flex-wrap justify-center">
        <div class="w-auto sm:mr-4 flex flex-col justify-between items-beetwen">
        <div class="pb-4 sm:pb-0 item">
            <div class="relative overflow-hidden large"><img class="w-full h-full object-contain" src="{{'textile.jpg' | asset_img_url: 'master'}}" alt="">
            <h2 class="
            title
            flex items-end
            w-full h-full
            absolute z-10 top-0
            text-white text-28px font-bold uppercase
            pl-12 pb-12
            duration-500
            justify-center
        "><span>wood</span></h2>
            <div class="
            link
            flex flex-col justify-center items-center
            w-full h-full
            absolute left-0 z-20
            duration-700 ease-in-out
            bg-pinkBG
        "><a class="lg:text-tiny lg:p-2 px-4 btn mt-20" href="#">Find out more</a>
                <div class="flex flex-row items-center"><svg class="icon icon-cart fill-current">
                    <use xlink:href="img/sprite.svg#icon-cart"></use>
                </svg><a class="py-10 px-2 text-black text-lg font-bold" href="#">Shop now</a></div>
            </div>
            </div>
        </div>
        <div class="pb-4 sm:pb-0 item">
            <div class="relative overflow-hidden small"><img class="w-full h-full object-contain" src="{{'wood.jpg' | asset_img_url: 'master'}}" alt="">
            <h2 class="
            title
            flex items-end
            w-full h-full
            absolute z-10 top-0
            text-white text-28px font-bold uppercase
            pl-12 pb-12
            duration-500
            justify-center
        "><span>wood</span></h2>
            <div class="
            link
            flex flex-col justify-center items-center
            w-full h-full
            absolute left-0 z-20
            duration-700 ease-in-out
            bg-pinkBG
        "><a class="lg:text-tiny lg:p-2 px-4 btn mt-20" href="#">Find out more</a>
                <div class="flex flex-row items-center"><svg class="icon icon-cart fill-current">
                    <use xlink:href="img/sprite.svg#icon-cart"></use>
                </svg><a class="py-10 px-2 text-black text-lg font-bold" href="#">Shop now</a></div>
            </div>
            </div>
        </div>
        <div class="pb-4 sm:pb-0 item">
            <div class="relative overflow-hidden small"><img class="w-full h-full object-contain" src="{{'plastis.jpg' | asset_img_url: 'master'}}" alt="">
            <h2 class="
            title
            flex items-end
            w-full h-full
            absolute z-10 top-0
            text-white text-28px font-bold uppercase
            pl-12 pb-12
            duration-500
            justify-center
        "><span>wood</span></h2>
            <div class="
            link
            flex flex-col justify-center items-center
            w-full h-full
            absolute left-0 z-20
            duration-700 ease-in-out
            bg-pinkBG
        "><a class="lg:text-tiny lg:p-2 px-4 btn mt-20" href="#">Find out more</a>
                <div class="flex flex-row items-center"><svg class="icon icon-cart fill-current">
                    <use xlink:href="img/sprite.svg#icon-cart"></use>
                </svg><a class="py-10 px-2 text-black text-lg font-bold" href="#">Shop now</a></div>
            </div>
            </div>
        </div>
        </div>
        <div class="w-auto sm:mr-4 flex flex-col justify-between items-beetwen">
        <div class="pb-4 sm:pb-0 item">
            <div class="relative overflow-hidden large"><img class="w-full h-full object-contain" src="{{'textile.jpg' | asset_img_url: 'master'}}" alt="">
            <h2 class="
            title
            flex items-end
            w-full h-full
            absolute z-10 top-0
            text-white text-28px font-bold uppercase
            pl-12 pb-12
            duration-500
            justify-center
        "><span>wood</span></h2>
            <div class="
            link
            flex flex-col justify-center items-center
            w-full h-full
            absolute left-0 z-20
            duration-700 ease-in-out
            bg-pinkBG
        "><a class="lg:text-tiny lg:p-2 px-4 btn mt-20" href="#">Find out more</a>
                <div class="flex flex-row items-center"><svg class="icon icon-cart fill-current">
                    <use xlink:href="img/sprite.svg#icon-cart"></use>
                </svg><a class="py-10 px-2 text-black text-lg font-bold" href="#">Shop now</a></div>
            </div>
            </div>
        </div>
        <div class="pb-4 sm:pb-0 item">
            <div class="relative overflow-hidden large"><img class="w-full h-full object-contain" src="{{'metal.jpg' | asset_img_url: 'master'}}" alt="">
            <h2 class="
            title
            flex items-end
            w-full h-full
            absolute z-10 top-0
            text-white text-28px font-bold uppercase
            pl-12 pb-12
            duration-500
            justify-center
        "><span>wood</span></h2>
            <div class="
            link
            flex flex-col justify-center items-center
            w-full h-full
            absolute left-0 z-20
            duration-700 ease-in-out
            bg-pinkBG
        "><a class="lg:text-tiny lg:p-2 px-4 btn mt-20" href="#">Find out more</a>
                <div class="flex flex-row items-center"><svg class="icon icon-cart fill-current">
                    <use xlink:href="img/sprite.svg#icon-cart"></use>
                </svg><a class="py-10 px-2 text-black text-lg font-bold" href="#">Shop now</a></div>
            </div>
            </div>
        </div>
        </div>
        <div class="w-auto flex flex-col justify-between items-beetwen">
        <div class="pb-4 sm:pb-0 item">
            <div class="relative overflow-hidden small"><img class="w-full h-full object-contain" src="{{'paper.jpg' | asset_img_url: 'master'}}" alt="">
            <h2 class="
            title
            flex items-end
            w-full h-full
            absolute z-10 top-0
            text-white text-28px font-bold uppercase
            pl-12 pb-12
            duration-500
            justify-center
        "><span>wood</span></h2>
            <div class="
            link
            flex flex-col justify-center items-center
            w-full h-full
            absolute left-0 z-20
            duration-700 ease-in-out
            bg-pinkBG
        "><a class="lg:text-tiny lg:p-2 px-4 btn mt-20" href="#">Find out more</a>
                <div class="flex flex-row items-center"><svg class="icon icon-cart fill-current">
                    <use xlink:href="img/sprite.svg#icon-cart"></use>
                </svg><a class="py-10 px-2 text-black text-lg font-bold" href="#">Shop now</a></div>
            </div>
            </div>
        </div>
        <div class="pb-4 sm:pb-0 item">
            <div class="relative overflow-hidden large"><img class="w-full h-full object-contain" src="{{'rocks.jpg' | asset_img_url: 'master'}}" alt="">
            <h2 class="
            title
            flex items-end
            w-full h-full
            absolute z-10 top-0
            text-white text-28px font-bold uppercase
            pl-12 pb-12
            duration-500
            justify-center
        "><span>wood</span></h2>
            <div class="
            link
            flex flex-col justify-center items-center
            w-full h-full
            absolute left-0 z-20
            duration-700 ease-in-out
            bg-pinkBG
        "><a class="lg:text-tiny lg:p-2 px-4 btn mt-20" href="#">Find out more</a>
                <div class="flex flex-row items-center"><svg class="icon icon-cart fill-current">
                    <use xlink:href="img/sprite.svg#icon-cart"></use>
                </svg><a class="py-10 px-2 text-black text-lg font-bold" href="#">Shop now</a></div>
            </div>
            </div>
        </div>
        <div class="pb-4 sm:pb-0 item">
            <div class="relative overflow-hidden small"><img class="w-full h-full object-contain" src="{{'surface.jpg' | asset_img_url: 'master'}}" alt="">
            <h2 class="
            title
            flex items-end
            w-full h-full
            absolute z-10 top-0
            text-white text-28px font-bold uppercase
            pl-12 pb-12
            duration-500
            justify-center
        "><span>wood</span></h2>
            <div class="
            link
            flex flex-col justify-center items-center
            w-full h-full
            absolute left-0 z-20
            duration-700 ease-in-out
            bg-pinkBG
        "><a class="lg:text-tiny lg:p-2 px-4 btn mt-20" href="#">Find out more</a>
                <div class="flex flex-row items-center"><svg class="icon icon-cart fill-current">
                    <use xlink:href="img/sprite.svg#icon-cart"></use>
                </svg><a class="py-10 px-2 text-black text-lg font-bold" href="#">Shop now</a></div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>
<section class="md:px-0 md:py-20 popular relative py-10 bg-lightPink px-5">
    <div class="lg:block popular__decor absolute z-0 right-0 hidden"><img src="{{'decor.png' | asset_img_url: 'master'}}" alt=""></div>
    <div class="container">
    <div class="swiper-container slider-popular relative">
        <div class="sm:w-full w-1/2 py-16">
        <h2 class="font-mono font-bold text-90px uppercase leading-none">Popular products</h2>
        </div>
        <div class="sm:text-4xl swiper-button absolute right-0 flex items-center p-4 text-3xl"><span class="button-next p-4 duration-700 ease-in-out cursor-pointer"><svg class="icon icon-arrow-left fill-current">
            <use xlink:href="img/sprite.svg#icon-arrow-left"></use>
            </svg></span><span class="button-prev p-4 duration-700 ease-in-out cursor-pointer"><svg class="icon icon-arrow-right fill-current">
            <use xlink:href="img/sprite.svg#icon-arrow-right"></use>
            </svg></span></div>
        {% for product in collections.all.products %}
        <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="flex justify-center">
            <div class="product__item bg-white delay-150">
                <div class="product__img cursor-pointer"><img src="{{ product | img_url:'medium' }}" alt=""></div>
                <div class="relative p-4">
                <div class="
            product__reviews
            flex justify-start items-center
            ">
                    <ul class="flex justify-start">
                    <li><span><svg class="icon icon-star fill-current text-yellowIcon">
                            <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg></span></li>
                    <li><span><svg class="icon icon-star fill-current text-yellowIcon">
                            <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg></span></li>
                    <li><span><svg class="icon icon-star fill-current text-yellowIcon">
                            <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg></span></li>
                    <li><span><svg class="icon icon-star fill-current text-yellowIcon">
                            <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg></span></li>
                    <li><span><svg class="icon icon-star fill-current text-yellowIcon">
                            <use xlink:href="img/sprite.svg#icon-star"></use>
                        </svg></span></li>
                    </ul><a class="
                text-sm text-dull
                font-normal
                pl-3
                underline
                " href="#">266 rewievs</a>
                </div>
                <h3 class="text-black py-5 text-xl font-semibold">{{ product.title }}</h3>
                <p class="text-dull text-base py-2"></p>
                <div class="product_price">
                    <span class="new text-black text-xl font-bold mr-6">{{ product.price | money_without_currency }}</span><span class="old line-through font-light text-xl text-dull">{{ product.price_max | money_without_currency}}</span>
                </div>
                <div class="
            product_btn
            py-6
            duration-700 ease-in-out
            w-full
            bg-white
            absolute
            flex justify-center
            opacity-1
            md:opacity-0"><a class="
                btn-white
                flex items-center justify-center
                bg-white
                text-black text-sm
                w-full
                uppercase font-bold
                duration-700 ease-in-out
                cursor-pointer" href="#">Add to cart</a></div>
                </div>
            </div>
            </div>
        </div>
        </div>
        {% endfor %}
    </div>
    </div>
</section>


<section class="test bg-wight pb-16 relative">
    <div class="lg:block hidden test__decor absolute bg-contain bg-no-repeat left-0 z-0" style="background-image: url({{'decor-test.svg' | asset_url}})"></div>
    <div class="container relative z-1">
    <div class="sm:px-0 flex flex-wrap px-5">
        <div class="sm:w-1/3 w-full">
        <div class="pt-20">
            <h2 class="text-7xl font-mono font-bold leading-none mb-5">Test <br /> for free</h2>
        </div>
        <div class="descr text-lg text-dull py-3">
            <p class="leading-7">Set of 5 Extra Fine Tip Paint Pens for Rock, Wood, Ceramic & Glass Painting</p>
        </div>
        <div class="delivery text-lg text-black font-bold py-3">
            <p>Pay Only for Delivery</p>
        </div>
        <div class="test__price py-3 flex justify-start"><span class="new text-xl text-black font-bold mr-8">$3.99</span><span class="old text-xl text-dull font-normal font-button line-through mr-8">$25,95</span></div>
        <div class="test__btn py-6"><a class="btn" href="#">Shop now</a></div>
        </div>
        <div class="sm:w-2/3 w-full h-full">
        <div class="sm:pt-32 lg:pt-0 test__img relative"><img class="sm:absolute object-contain" src="{{'test.png' | asset_img_url: 'master'}}" alt=""></div>
        </div>
    </div>
    </div>
</section>
<section class="reviews relative">
    <div class="reviews__decor absolute bg-contain bg-no-repeat" style="background-image: url({{'decor-reviews.svg' | asset_url}})"></div>
    <div class="container">
    <div class="flex">
        <div class="w-1/3 relative">
        <h2 class="md:text-7xl pl-3 md:pl-0 pt-5 md:pt-0 text-5xl font-mono font-bold leading-none">What our <br /> customers say</h2>
        </div>
        <div class="w-2/3 flex relative justify-around">
        <div class="swiper__button absolute flex p-4 items-center z-10 text-4xl"><span class="button-next p-4 duration-700 ease-in-out cursor-pointer"><svg class="icon icon-arrow-left fill-current">
                <use xlink:href="img/sprite.svg#icon-arrow-left"></use>
            </svg></span><span class="button-prev p-4 duration-700 ease-in-out cursor-pointer"><svg class="icon icon-arrow-right fill-current">
                <use xlink:href="img/sprite.svg#icon-arrow-right"></use>
            </svg></span></div>
        <div class="swiper-container slider-reviews">
            <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="pr-4">
                <div class="reviews__item p-6 bg-white relative">
                    <div class="reviews__header flex items-center">
                    <div class="reviews__foto"><img src="{{'foto-01.jpg' | asset_img_url: 'master'}}" alt=""></div>
                    <div class="reviews__author p-6 bg-no-repeat" style="background-image: url('{{'quotes.png' | asset_img_url: 'master'}}')">
                        <h3 class="name p-1 text-xl text-black font-bold">Katie R.</h3>
                        <p class="which p-1 text-tiny text-graySecond Customer"></p>
                        <ul class="flex justify-start p-1">
                        <li><span><svg class="icon icon-star fill-current text-yellowIcon">
                                <use xlink:href="img/sprite.svg#icon-star"></use>
                            </svg></span></li>
                        <li><span><svg class="icon icon-star fill-current text-yellowIcon">
                                <use xlink:href="img/sprite.svg#icon-star"></use>
                            </svg></span></li>
                        <li><span><svg class="icon icon-star fill-current text-yellowIcon">
                                <use xlink:href="img/sprite.svg#icon-star"></use>
                            </svg></span></li>
                        <li><span><svg class="icon icon-star fill-current text-yellowIcon">
                                <use xlink:href="img/sprite.svg#icon-star"></use>
                            </svg></span></li>
                        <li><span><svg class="icon icon-star fill-current text-yellowIcon">
                                <use xlink:href="img/sprite.svg#icon-star"></use>
                            </svg></span></li>
                        </ul>
                    </div>
                    </div>
                    <div class="reviews__descr font-normal text-black text-sm leading-loose">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, ex consequuntur! Nesciunt id consequuntur quasi eligendi optio dignissimos. Doloribus molestiae est in enim earum nam magnam expedita soluta autem blanditiis.</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="pr-4">
                <div class="reviews__item p-6 bg-white relative">
                    <div class="reviews__header flex items-center">
                    <div class="reviews__foto"><img src="{{'foto-01.jpg' | asset_img_url: 'master'}}" alt=""></div>
                    <div class="reviews__author p-6 bg-no-repeat" style="background-image: url('{{'quotes.png' | asset_img_url: 'master'}}')">
                        <h3 class="name p-1 text-xl text-black font-bold">Katie R.</h3>
                        <p class="which p-1 text-tiny text-graySecond Customer"></p>
                        <ul class="flex justify-start p-1">
                        <li><span><svg class="icon icon-star fill-current text-yellowIcon">
                                <use xlink:href="img/sprite.svg#icon-star"></use>
                            </svg></span></li>
                        <li><span><svg class="icon icon-star fill-current text-yellowIcon">
                                <use xlink:href="img/sprite.svg#icon-star"></use>
                            </svg></span></li>
                        <li><span><svg class="icon icon-star fill-current text-yellowIcon">
                                <use xlink:href="img/sprite.svg#icon-star"></use>
                            </svg></span></li>
                        <li><span><svg class="icon icon-star fill-current text-yellowIcon">
                                <use xlink:href="img/sprite.svg#icon-star"></use>
                            </svg></span></li>
                        <li><span><svg class="icon icon-star fill-current text-yellowIcon">
                                <use xlink:href="img/sprite.svg#icon-star"></use>
                            </svg></span></li>
                        </ul>
                    </div>
                    </div>
                    <div class="reviews__descr font-normal text-black text-sm leading-loose">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, ex consequuntur! Nesciunt id consequuntur quasi eligendi optio dignissimos. Doloribus molestiae est in enim earum nam magnam expedita soluta autem blanditiis.</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="pr-4">
                <div class="reviews__item p-6 bg-white relative">
                    <div class="reviews__header flex items-center">
                    <div class="reviews__foto"><img src="{{'foto-01.jpg' | asset_img_url: 'master'}}" alt=""></div>
                    <div class="reviews__author p-6 bg-no-repeat" style="background-image: url('{{'quotes.png' | asset_img_url: 'master'}}')">
                        <h3 class="name p-1 text-xl text-black font-bold">Katie R.</h3>
                        <p class="which p-1 text-tiny text-graySecond Customer"></p>
                        <ul class="flex justify-start p-1">
                        <li><span><svg class="icon icon-star fill-current text-yellowIcon">
                                <use xlink:href="img/sprite.svg#icon-star"></use>
                            </svg></span></li>
                        <li><span><svg class="icon icon-star fill-current text-yellowIcon">
                                <use xlink:href="img/sprite.svg#icon-star"></use>
                            </svg></span></li>
                        <li><span><svg class="icon icon-star fill-current text-yellowIcon">
                                <use xlink:href="img/sprite.svg#icon-star"></use>
                            </svg></span></li>
                        <li><span><svg class="icon icon-star fill-current text-yellowIcon">
                                <use xlink:href="img/sprite.svg#icon-star"></use>
                            </svg></span></li>
                        <li><span><svg class="icon icon-star fill-current text-yellowIcon">
                                <use xlink:href="img/sprite.svg#icon-star"></use>
                            </svg></span></li>
                        </ul>
                    </div>
                    </div>
                    <div class="reviews__descr font-normal text-black text-sm leading-loose">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, ex consequuntur! Nesciunt id consequuntur quasi eligendi optio dignissimos. Doloribus molestiae est in enim earum nam magnam expedita soluta autem blanditiis.</p>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>
<section class="acquainted bg-lightPink py-16 overflow-hidden bg-no-repeat" style="background-image: url({{'bg.png' | asset_img_url: 'master'}})">
    <div class="flex flex-wrap justify-center relative items-center">
    <div class="md:w-6/12 w-full">
        <div class="relative">
        <div class="acquainted__img"><img class="mx-auto" src="{{'decor-2.png' | asset_img_url: 'master'}}" alt=""></div>
        <div class="acquainted__play-btn absolute w-full h-full flex justify-center items-center top-0 left-0"><a class="text-lg text-white uppercase font-bold flex items-center" href="#">View video<svg class="icon icon-play fill-current text-white text-6xl pl-3">
                <use xlink:href="img/sprite.svg#icon-play"></use>
            </svg></a></div>
        </div>
    </div>
    <div class="md:w-6/12 w-10/12">
        <div class="lg:w-8/12 md:w-11/12 md:pl-16">
        <div class="py-16">
            <h2 class="text-7xl font-mono font-bold leading-none mb-5">Let's get<br> acquainted closer!</h2>
        </div>
        <div class="acquainted__descr">
            <p class="mb-5">I am Ellie Grin and here I’ve talked briefly about what I do.</p>
            <p class="mb-5">Art has attracted me since my childhood. Until today, I managed to try out a lot of things associated with drawing and decorating decorative details. it was the drawing of fabrics, products from polymer clay.</p>
            <p class="mb-10">But this cannot be compared with decorating glass products. Absolutely everything can be made bright and unique, adding to it a little saturated colors and a special meaning. Personalized glassware is especially popular because it is so nice to receive dishes with your name or with warm words for your heart!</p><a class="uppercase font-black flex py-4" href="#">View all product<svg class="icon icon-arrow-more fill-current text-black text-2xl pl-3">
                <use xlink:href="img/sprite.svg#icon-arrow-more"></use>
            </svg></a>
        </div>
        </div>
    </div>
    </div>
</section>
<section class="tutorials relative pt-12">
    <div class="tutorials__decor__top absolute bg-cover" style="background-image: url({{'decor-top.svg' | asset_url}})"></div>
    <div class="lg:block tutorials__decor__bottom absolute bg-contain bg-no-repeat -z-1 hidden" style="background-image: url({{'decor-tutorial.svg' | asset_url}})"></div>
    <div class="container">
    <div class="md:px-0 px-5">
        <div class="swiper-container tutorials__slider">
        <div class="w-1/2 sm:w-full py-16">
            <h2 class="text-7xl font-mono font-bold leading-none">Recent tutorials</h2>
        </div>
        <div class="swiper__button tutorials__btn absolute flex p-4 items-center right-0">
            <div class="button-next p-4 duration-700 ease-in-out cursor-pointer"><svg class="icon icon-arrow-left fill-current">
                <use xlink:href="img/sprite.svg#icon-arrow-left"></use>
            </svg></div>
            <div class="button-prev p-4 duration-700 ease-in-out cursor-pointer"><svg class="icon icon-arrow-right fill-current">
                <use xlink:href="img/sprite.svg#icon-arrow-right"></use>
            </svg></div>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
            <div class="tutorials__item">
                <div class="tutorials__img"><img src="{{'tutorials-01.jpg' | asset_img_url: 'master'}}" alt=""></div>
                <div class="tutorials__descr p-8 relative shadow-normal">
                <div class="data font-noto text-sm text-black font-normal flex justify-between items-center py-6">
                    <div class="data__time flex items-center text-sm font-normal"><span class="pr-2"><svg class="icon icon-clock fill-current">
                        <use xlink:href="img/sprite.svg#icon-clock"></use>
                        </svg></span><span>Time to read: <b>5 min</b></span></div>
                    <div class="data__level flex items-center text-sm font-normal"><span class="pr-2"><svg class="icon icon-round-star fill-current">
                        <use xlink:href="img/sprite.svg#icon-round-star"></use>
                        </svg></span><span>Level: <b>Easy</b></span></div>
                </div>
                <div class="tutorials__title font-noto text-2xl text-black font-bold uppercase py-1">
                    <h3>Easy guide 'How to draw' from Artistro!</h3>
                </div>
                <div class="tutorials__guide font-noto flex justify-between items-center py-4"> <span class="font-button text-base text-grayThird">Guide</span><a class="flex justify-between items-center font-button text-2x uppercase font-bold" href="#">Read now<span class="pl-2"><svg class="icon icon-arrow-more fill-current">
                        <use xlink:href="img/sprite.svg#icon-arrow-more"></use>
                        </svg></span></a></div>
                </div>
            </div>
            </div>
            <div class="swiper-slide">
            <div class="tutorials__item">
                <div class="tutorials__img"><img src="{{'tutorials-02.jpg' | asset_img_url: 'master'}}" alt=""></div>
                <div class="tutorials__descr p-8 relative shadow-normal">
                <div class="data font-noto text-sm text-black font-normal flex justify-between items-center py-6">
                    <div class="data__time flex items-center text-sm font-normal"><span class="pr-2"><svg class="icon icon-clock fill-current">
                        <use xlink:href="img/sprite.svg#icon-clock"></use>
                        </svg></span><span>Time to read: <b>5 min</b></span></div>
                    <div class="data__level flex items-center text-sm font-normal"><span class="pr-2"><svg class="icon icon-round-star fill-current">
                        <use xlink:href="img/sprite.svg#icon-round-star"></use>
                        </svg></span><span>Level: <b>Easy</b></span></div>
                </div>
                <div class="tutorials__title font-noto text-2xl text-black font-bold uppercase py-1">
                    <h3>Easy guide 'How to draw' from Artistro!</h3>
                </div>
                <div class="tutorials__guide font-noto flex justify-between items-center py-4"> <span class="font-button text-base text-grayThird">Guide</span><a class="flex justify-between items-center font-button text-2x uppercase font-bold" href="#">Read now<span class="pl-2"><svg class="icon icon-arrow-more fill-current">
                        <use xlink:href="img/sprite.svg#icon-arrow-more"></use>
                        </svg></span></a></div>
                </div>
            </div>
            </div>
            <div class="swiper-slide">
            <div class="tutorials__item">
                <div class="tutorials__img"><img src="{{'tutorials-03.jpg' | asset_img_url: 'master'}}" alt=""></div>
                <div class="tutorials__descr p-8 relative shadow-normal">
                <div class="data font-noto text-sm text-black font-normal flex justify-between items-center py-6">
                    <div class="data__time flex items-center text-sm font-normal"><span class="pr-2"><svg class="icon icon-clock fill-current">
                        <use xlink:href="img/sprite.svg#icon-clock"></use>
                        </svg></span><span>Time to read: <b>5 min</b></span></div>
                    <div class="data__level flex items-center text-sm font-normal"><span class="pr-2"><svg class="icon icon-round-star fill-current">
                        <use xlink:href="img/sprite.svg#icon-round-star"></use>
                        </svg></span><span>Level: <b>Easy</b></span></div>
                </div>
                <div class="tutorials__title font-noto text-2xl text-black font-bold uppercase py-1">
                    <h3>Easy guide 'How to draw' from Artistro!</h3>
                </div>
                <div class="tutorials__guide font-noto flex justify-between items-center py-4"> <span class="font-button text-base text-grayThird">Guide</span><a class="flex justify-between items-center font-button text-2x uppercase font-bold" href="#">Read now<span class="pl-2"><svg class="icon icon-arrow-more fill-current">
                        <use xlink:href="img/sprite.svg#icon-arrow-more"></use>
                        </svg></span></a></div>
                </div>
            </div>
            </div>
            <div class="swiper-slide">
            <div class="tutorials__item">
                <div class="tutorials__img"><img src="{{'tutorials-03.jpg' | asset_img_url: 'master'}}" alt=""></div>
                <div class="tutorials__descr p-8 relative shadow-normal">
                <div class="data font-noto text-sm text-black font-normal flex justify-between items-center py-6">
                    <div class="data__time flex items-center text-sm font-normal"><span class="pr-2"><svg class="icon icon-clock fill-current">
                        <use xlink:href="img/sprite.svg#icon-clock"></use>
                        </svg></span><span>Time to read: <b>5 min</b></span></div>
                    <div class="data__level flex items-center text-sm font-normal"><span class="pr-2"><svg class="icon icon-round-star fill-current">
                        <use xlink:href="img/sprite.svg#icon-round-star"></use>
                        </svg></span><span>Level: <b>Easy</b></span></div>
                </div>
                <div class="tutorials__title font-noto text-2xl text-black font-bold uppercase py-1">
                    <h3>Easy guide 'How to draw' from Artistro!</h3>
                </div>
                <div class="tutorials__guide font-noto flex justify-between items-center py-4"> <span class="font-button text-base text-grayThird">Guide</span><a class="flex justify-between items-center font-button text-2x uppercase font-bold" href="#">Read now<span class="pl-2"><svg class="icon icon-arrow-more fill-current">
                        <use xlink:href="img/sprite.svg#icon-arrow-more"></use>
                        </svg></span></a></div>
                </div>
            </div>
            </div>
            <div class="swiper-slide">
            <div class="tutorials__item">
                <div class="tutorials__img"><img src="{{'tutorials-03.jpg' | asset_img_url: 'master'}}" alt=""></div>
                <div class="tutorials__descr p-8 relative shadow-normal">
                <div class="data font-noto text-sm text-black font-normal flex justify-between items-center py-6">
                    <div class="data__time flex items-center text-sm font-normal"><span class="pr-2"><svg class="icon icon-clock fill-current">
                        <use xlink:href="img/sprite.svg#icon-clock"></use>
                        </svg></span><span>Time to read: <b>5 min</b></span></div>
                    <div class="data__level flex items-center text-sm font-normal"><span class="pr-2"><svg class="icon icon-round-star fill-current">
                        <use xlink:href="img/sprite.svg#icon-round-star"></use>
                        </svg></span><span>Level: <b>Easy</b></span></div>
                </div>
                <div class="tutorials__title font-noto text-2xl text-black font-bold uppercase py-1">
                    <h3>Easy guide 'How to draw' from Artistro!</h3>
                </div>
                <div class="tutorials__guide font-noto flex justify-between items-center py-4"> <span class="font-button text-base text-grayThird">Guide</span><a class="flex justify-between items-center font-button text-2x uppercase font-bold" href="#">Read now<span class="pl-2"><svg class="icon icon-arrow-more fill-current">
                        <use xlink:href="img/sprite.svg#icon-arrow-more"></use>
                        </svg></span></a></div>
                </div>
            </div>
            </div>
            <div class="swiper-slide">
            <div class="tutorials__item">
                <div class="tutorials__img"><img src="{{'tutorials-03.jpg' | asset_img_url: 'master'}}" alt=""></div>
                <div class="tutorials__descr p-8 relative shadow-normal">
                <div class="data font-noto text-sm text-black font-normal flex justify-between items-center py-6">
                    <div class="data__time flex items-center text-sm font-normal"><span class="pr-2"><svg class="icon icon-clock fill-current">
                        <use xlink:href="img/sprite.svg#icon-clock"></use>
                        </svg></span><span>Time to read: <b>5 min</b></span></div>
                    <div class="data__level flex items-center text-sm font-normal"><span class="pr-2"><svg class="icon icon-round-star fill-current">
                        <use xlink:href="img/sprite.svg#icon-round-star"></use>
                        </svg></span><span>Level: <b>Easy</b></span></div>
                </div>
                <div class="tutorials__title font-noto text-2xl text-black font-bold uppercase py-1">
                    <h3>Easy guide 'How to draw' from Artistro!</h3>
                </div>
                <div class="tutorials__guide font-noto flex justify-between items-center py-4"> <span class="font-button text-base text-grayThird">Guide</span><a class="flex justify-between items-center font-button text-2x uppercase font-bold" href="#">Read now<span class="pl-2"><svg class="icon icon-arrow-more fill-current">
                        <use xlink:href="img/sprite.svg#icon-arrow-more"></use>
                        </svg></span></a></div>
                </div>
            </div>
            </div>
        </div>
        <div class="w-full relative flex justify-center p-8"><a class="btn-white btn-white-big" href="#">Read all</a></div>
        </div>
    </div>
    </div>
</section>
<section class="recommended relative">
    <div class="md:block hidden recommended__decor absolute bg-cover top-0 z-0" style="background-image: url({{'decor-recommended.svg' | asset_url}})"></div>
    <div class="container relative z-1">
    <div class="flex justify-center">
        <div class="heading py-16">
        <h2 class="text-7xl font-mono font-bold leading-none">Recommended by</h2>
        </div>
    </div>
    <div class="brands"><img src="{{'recommended-01.jpg' | asset_img_url: 'master'}}" alt=""></div>
    </div>
</section>
<section class="instagram relative z-1">
    <div class="flex">
    <div class="w-1/5"><img class="object-cover w-full h-full" src="{{'instagram-01.jpg' | asset_img_url: 'master'}}" alt=""></div>
    <div class="w-1/5"><img class="object-cover w-full h-full" src="{{'instagram-02.jpg' | asset_img_url: 'master'}}" alt=""></div>
    <div class="w-1/5 relative"><img class="object-cover w-full h-full" src="{{'instagram-03.png' | asset_img_url: 'master'}}" alt="">
        <div class="descr bg-white bg-opacity-75"><svg class="icon icon-big-inst fill-current text-black text-4xl">
            <use xlink:href="img/sprite.svg#icon-big-inst"></use>
        </svg>
        <h4 class="xs:text-xl md:py-5 font-bold text-black text-base uppercase py-2">Follow instagram</h4>
        <p class="sm:block lg:px-12 hidden font-normal text-black text-base px-2">Over 2 300 posts and over 90k followers</p>
        </div>
    </div>
    <div class="w-1/5"><img class="object-cover w-full h-full" src="{{'instagram-04.jpg' | asset_img_url: 'master'}}" alt=""></div>
    <div class="w-1/5"><img class="object-cover w-full h-full" src="{{'instagram-05.jpg' | asset_img_url: 'master'}}" alt=""></div>
    </div>
</section>